<main>
  <h1><%= @recipe.name %></h1>
  <section>
    <% if can? :toggle_public, @recipe %>
      <% if @recipe.public %>
        <%= link_to 'Make Private', toggle_public_recipe_path(@recipe), method: :patch %>
      <% else %>
        <%= link_to 'Make Public', toggle_public_recipe_path(@recipe), method: :patch %>
      <% end %>
    <% end %>
  </section>
  <section class="recipe_detail">
    <p> Preparation Time: <%= @recipe.preparation_time %> hour </p>
    <p> Cooking Time: <%= @recipe.cooking_time %> hour </p>
    <p> <%= @recipe.description %> </p>
  </section>
  <section class="actions_container">
    <%= link_to 'Generate Shop List', users_shopping_list_path, class: 'action_link' %>
    <%= link_to 'Add Ingredient', new_recipe_recipe_food_path(@recipe), class: 'action_link' %>

  </section>
  <table class="food-table">
    <thead>
      <tr>
        <th>Food</th>
        <th>Quantity</th>
        <th>Value</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @recipe.foods.each do |food| %>
        <tr>
          <td><%= food.name %></td>
          <td><%= food.quantity %></td>
          <td><%= food.value %></td>
          <td>
            <%= link_to 'Edit', food_path, method: :patch, class: 'action_link' %>
            <%= link_to 'Delete', food_path, method: :delete, data: { confirm: 'Are you sure?' }, class: 'action_link' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</main>
