<main>
<h1> Add new Ingredient </h1>
<%= form_with(url: recipe_recipe_foods_path(@recipe), method: :post, local: true, class: 'new_ingredient_form') do |form|  %>
    <%= form.label :food_name %>
    <%= form.text_field :food_name %>
  
    <%= form.label :quantity %>
    <%= form.text_field :quantity %>
  
    <%= form.label :value %>
    <%= form.text_field :value %>
  
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
</main>
