<!DOCTYPE html>
<html>
  <head>
    <title>RecipeApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <header>
      <%= link_to "RecipeApp", root_path, class: 'logo' %>
      <nav id="desktop-nav" class="hidden">
        <ul class="menu_pages">
          <li><%= link_to "Public Recipes", public_recipes_path %></li>
          <li><%= link_to "Recipes", recipes_path %></li>
          <li><%= link_to "Foods", foods_path %></li>
        </ul>
        <ul class="menu_authentication">
          <% if user_signed_in? %>
            <li class="sign_out"><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to "Sign up", new_user_registration_path %></li>
            <li><%= link_to "Sign in", user_session_path %></li>
            <% end %>
  
          </ul>
        </nav>
        <menu class="toggle_menu">
          <span class="line"></span>
          <span class="line"></span>
          <span class="line"></span>
        </menu>
      </header>
      <%= yield %>
      <script src="./../../../app/javascript/menu/menu_toggle.js"></script>
    </body>
  </html>
